@keyframes bg-option-13-animation {
  0% {
    background-position:
      0 0,
      0 0;
  }
  100% {
    background-position:
      100px 100px,
      -100px -100px;
  }
}

[data-element="rymstats-track-panel"] {
  &.bg-option-13:after {
    background-image:
      repeating-linear-gradient(
        0deg,
        var(--clr-palette-muted) 0px,
        var(--clr-palette-muted) 5px,
        var(--clr-palette-darkmuted) 5px,
        var(--clr-palette-darkmuted) 10px
      ),
      repeating-linear-gradient(
        90deg,
        var(--clr-palette-lightvibrant) 0px,
        var(--clr-palette-lightvibrant) 5px,
        var(--clr-palette-darkvibrant) 5px,
        var(--clr-palette-darkvibrant) 10px
      );
    background-size: 100% 100%, 100% 100%;
    animation: bg-option-13-animation 0.2s infinite steps(1);
  }
}
