.rym-warning {
  padding: 0.5rem 2rem;
  margin: 1rem 0;
  font-weight: bold;
  border-left: 10px solid currentColor;

  a { margin-left: 0.5rem; }
}

.rym-warning p { margin: 0; }

.rym-warning p + p { margin-top: 0.5em; }

h3:has(.btn-search-strict-show-all) {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.btn-search-strict-show-all {
  font-size: 0.5em;
  position: relative;
  top: -4px;
}

td:has(> .rym-search-strict--item) {
  display: flex;
  flex-direction: column;

  & > * {
    order: 5;

    &:not(table) {
      order: 0;
    }

    &.rym-search-strict--item {
      & ~ *:not(table) {
        order: 10;
      }

      &[data-master-release] {
        order: 1;
      }

      &[data-validity="full"] {
        order: 2;
      }

      &[data-validity="partial"] {
        order: 3;
      }
    }
  }
}

.rym-search-strict--item {
  &[data-validity="full"] {
    position: relative;
    border: 1px solid green;
    min-height: 130px;

    &:before {
      content: 'Full match';
      position: absolute;
      writing-mode: vertical-lr;
      transform: rotate(-180deg);
      top: 0;
      right: 100%;
      bottom: 0;
      text-align: center;
      font-weight: bold;
      background-color: rgba(255, 255, 0, 0.5);
      padding: 0.5rem;
      z-index: 1;
    }
  }

  &[data-validity="partial"] {
    position: relative;
    border: 1px solid orange;

    &:before {
      content: 'Partial match';
      position: absolute;
      writing-mode: vertical-lr;
      transform: rotate(-180deg);
      top: 0;
      right: 100%;
      bottom: 0;
      text-align: center;
      font-weight: bold;
      background-color: rgba(255, 127, 0, 0.05);
      padding: 0.5rem;
      z-index: 1;
    }
  }

  &[data-item-type="release"][data-rym-rating] {
    position: relative;

    &:after {
      content: attr(data-rym-rating)' / 5';
      z-ndex: 1;
      position: absolute;
      top: 0;
      right: 0;
      background-color: green;
      color: white;
      font-weight: bold;
      padding: 0.5rem;
    }
  }
}

