.rym-lastfm-stats--item[data-rym-rating] {
  position: relative;

  &:after {
    content: attr(data-rym-rating);
    z-index: 1;
    position: absolute;
    top: 0;
    right: 0;
    background-color: green;
    color: white;
    font-weight: bold;
    padding: 0.5rem;
    opacity: 0.75;
    transition: opacity 0.2s ease-in-out;
  }

  &:hover:after {
    opacity: 1;
  }
}
