@keyframes bg-option-9-diagonal {
  from { background-position: 0 0, 0 0; }
  to   { background-position: -20px -20px, -20px -20px; }
}

[data-element="rymstats-track-panel"] {
  &.bg-option-9:after {
    background-image:
      repeating-linear-gradient(
        to right,
        var(--clr-palette-muted) 0,
        var(--clr-palette-muted) 10px,
        var(--clr-palette-darkmuted) 10px,
        var(--clr-palette-darkmuted) 20px
      ),
      repeating-linear-gradient(
        to bottom,
        var(--clr-palette-vibrant) 0,
        var(--clr-palette-vibrant) 10px,
        var(--clr-palette-lightvibrant) 10px,
        var(--clr-palette-lightvibrant) 20px
      );
    background-blend-mode: multiply;
  }

  &.is-now-playing.bg-option-9:after {
    animation: bg-option-9-diagonal 0.6s linear infinite;
  }
}
