@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes image-shift {
  0% {
    transform: translateY(-50%);
  }
  25% {
    transform: translateY(-75%);
  }
  50% {
    transform: translateY(-50%);
  }
  75% {
    transform: translateY(-25%);
  }
  100% {
    transform: translateY(-50%);
  }
}

:root {
  --clr-lastfm: #f71414;
}

#profile_play_history_container {
  position: relative;
}

.profile_listening_container {
  padding-right: 1rem;

  &.is-play-history {
    background-color: var(--bg-color);
    color: color-contrast(var(--bg-color) vs #fff, #000);
    transition: background-color 0.3s ease-out, color 0.3s ease-out;
    position: relative;

    &:before {
      content: '';
      position: absolute;
      inset: 0;
      background-image: var(--bg-image);
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      opacity: 0.2;
    }

    &:after {
      content: '';
      position: absolute;
      inset: 0;
      backdrop-filter: blur(5px);
      z-index: 1;
    }

    & > * {
      position: relative;
      z-index: 2;
    }


    a { color: inherit; }

    &.is-now-playing {
      border-radius: 9999px 0 0 9999px;
    }
  }
}

html[data-scheme="light"] {
  .profile_listening_container.is-play-history {
    --bg-color: var(--clr-light-bg);
    border-color: var(--clr-light-accent);
  }
}

html[data-scheme="dark"] {
  .profile_listening_container.is-play-history {
    --bg-color: var(--clr-dark-bg);
    border-color: var(--clr-dark-accent);
  }
}

.profile_view_play_history_btn {
  gap: 1rem;
  min-height: 45px;
  align-items: center;
  flex: 1 0 auto;
}

.btn.btn-lastfm,
.btn.btn-profile {
  --bg-color: var(--clr-lastfm);
  --bg-color-hover: color-mix(in lab, var(--bg-color) 90%, white);
  --bg-color-active: color-mix(in lab, var(--bg-color) 80%, black);
  --color: #fff;
  background-color: var(--bg-color) !important;
  color: var(--color) !important;
  margin-right: 0;
  transition: background-color 0.3s ease-out, color 0.3s ease-out;

  &:hover {
    background-color: var(--bg-color-hover) !important;
  }

  &:active {
    background-color: var(--bg-color-active) !important;
    position: relative;
    top: 2px;
  }

  display: flex;
  width: fit-content;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  min-height: 41.15px;
  padding-block: 0 !important;

  svg {
    order: -1;
    width: 1.75em;
    height: 1.75em;
  }
}

html[data-scheme="light"] {
  .btn.btn-lastfm,
  .btn.btn-profile {
    --bg-color: var(--clr-light-accent);
    --color: var(--clr-light-accent-contrast);
    /* --bg-color: #000; */
    /* text-shadow: 0 0 2px rgba(0, 0, 0, 0.5); */
  }
}

html[data-scheme="dark"] {
  .btn.btn-lastfm,
  .btn.btn-profile {
    --bg-color: var(--clr-dark-accent);
    --color: var(--clr-dark-accent-contrast);
    /* --bg-color: #fff; */
    /* text-shadow: 0 0 2px rgba(255, 255, 255, 0.5); */
  }
}

.lastfm-tracks-wrapper {
  display: block;
  position: absolute;
  left: -9999px;
  right: 9999px;
  transition: all .15s ease-out;
  opacity: 0;
  transform: translateY(-10px);
  margin-top: 0;
  padding-bottom: 30px;

  &::before,
  &::after {
    position: absolute;
    opacity: 0.75;
    bottom: 0;
    height: 30px;
    padding: 0 15px;
    font-size: 0.75em;
    line-height: 29px;
  }

  &:before {
    content: attr(data-timestamp);
    right: 0;
  }

  &:after {
    content: 'Powered by RYM Last.fm Stats';
    left: 0;
  }

  &.is-active {
    opacity: 1;
    transform: translateY(0);
    position: relative;
    left: auto;
    right: auto;
  }

  ul {
    display: table;
    width: 100%;
  }

  li {
    display: table-row;

    & + li { border-top: 1px solid; }

    & > * {
      display: table-cell;
      vertical-align: middle;
      padding: 9px;

      &:first-child {
        padding-left: 15px;
      }

      &:last-child {
        padding-right: 15px;
        white-space: nowrap;
      }
    }
  }

  .track-image {
    a {
      display: block;
      position: relative;
      width: 34px;
      height: 34px;

      &:empty::after {
        content: '?';
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }

    img {
      display: block;
      width: 100%;
      height: 100%;
    }
  }

  .track-title {
    font-weight: bold;
    width: 60%;
  }

  .track-artist {
    width: 40%;
    font-weight: bold;
  }

  .track-date {
    text-align: right;

    img { margin-right: 0.5em; }
  }

  .track-image a { background: var(--color); }

  li {
    & + li { border-color: var(--color); }
    &.is-now-playing { background: var(--color); }
  }
}

html[data-scheme="light"] {
  .lastfm-tracks-wrapper {
    --color: rgba(0, 0, 0, 0.1);
  }
}

html[data-scheme="dark"] {
  .lastfm-tracks-wrapper {
    --color: rgba(255, 255, 255, 0.1);
  }
}

.btn-lastfm-lock {
  display: inline-block;
  border: none;
  background: none;
  appearance: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
  color: currentColor;
  opacity: 0.75;
  padding: 10px;
  border-radius: 50%;
  transition: background-color 0.3s ease-out, color 0.3s ease-out;

  &:active {
    background-color: rgba(0, 0, 0, 0.2);
  }

  svg {
    width: 16px;
    height: 16px;
    &:first-child { display: block; }
    &:last-child { display: none; }
  }
  &.is-locked {
    svg {
      &:first-child { display: none; }
      &:last-child { display: block; }
    }
  }
}
