@property --bg-option-21-bar-1  { syntax: '<percentage>'; inherits: false; initial-value: 50%; }
@property --bg-option-21-bar-2  { syntax: '<percentage>'; inherits: false; initial-value: 50%; }
@property --bg-option-21-bar-3  { syntax: '<percentage>'; inherits: false; initial-value: 50%; }
@property --bg-option-21-bar-4  { syntax: '<percentage>'; inherits: false; initial-value: 50%; }
@property --bg-option-21-bar-5  { syntax: '<percentage>'; inherits: false; initial-value: 50%; }
@property --bg-option-21-bar-6  { syntax: '<percentage>'; inherits: false; initial-value: 50%; }
@property --bg-option-21-bar-7  { syntax: '<percentage>'; inherits: false; initial-value: 50%; }
@property --bg-option-21-bar-8  { syntax: '<percentage>'; inherits: false; initial-value: 50%; }
@property --bg-option-21-bar-9  { syntax: '<percentage>'; inherits: false; initial-value: 50%; }
@property --bg-option-21-bar-10 { syntax: '<percentage>'; inherits: false; initial-value: 50%; }
@property --bg-option-21-bar-11 { syntax: '<percentage>'; inherits: false; initial-value: 50%; }
@property --bg-option-21-bar-12 { syntax: '<percentage>'; inherits: false; initial-value: 50%; }

@keyframes bg-option-21-animation {
  0% {
    --bg-option-21-bar-1: 40%; --bg-option-21-bar-2: 70%; --bg-option-21-bar-3: 50%; --bg-option-21-bar-4: 90%;
    --bg-option-21-bar-5: 30%; --bg-option-21-bar-6: 80%; --bg-option-21-bar-7: 60%; --bg-option-21-bar-8: 50%;
    --bg-option-21-bar-9: 70%; --bg-option-21-bar-10: 30%; --bg-option-21-bar-11: 90%; --bg-option-21-bar-12: 40%;
  }

  10% {
    --bg-option-21-bar-1: 60%; --bg-option-21-bar-2: 40%; --bg-option-21-bar-3: 80%; --bg-option-21-bar-4: 30%;
    --bg-option-21-bar-5: 70%; --bg-option-21-bar-6: 50%; --bg-option-21-bar-7: 90%; --bg-option-21-bar-8: 30%;
    --bg-option-21-bar-9: 40%; --bg-option-21-bar-10: 80%; --bg-option-21-bar-11: 60%; --bg-option-21-bar-12: 50%;
  }

  25% {
    --bg-option-21-bar-1: 30%; --bg-option-21-bar-2: 90%; --bg-option-21-bar-3: 60%; --bg-option-21-bar-4: 70%;
    --bg-option-21-bar-5: 50%; --bg-option-21-bar-6: 20%; --bg-option-21-bar-7: 70%; --bg-option-21-bar-8: 80%;
    --bg-option-21-bar-9: 20%; --bg-option-21-bar-10: 60%; --bg-option-21-bar-11: 30%; --bg-option-21-bar-12: 90%;
  }

  40% {
    --bg-option-21-bar-1: 70%; --bg-option-21-bar-2: 30%; --bg-option-21-bar-3: 90%; --bg-option-21-bar-4: 40%;
    --bg-option-21-bar-5: 80%; --bg-option-21-bar-6: 20%; --bg-option-21-bar-7: 90%; --bg-option-21-bar-8: 60%;
    --bg-option-21-bar-9: 30%; --bg-option-21-bar-10: 80%; --bg-option-21-bar-11: 50%; --bg-option-21-bar-12: 70%;
  }

  60% {
    --bg-option-21-bar-1: 50%; --bg-option-21-bar-2: 60%; --bg-option-21-bar-3: 30%; --bg-option-21-bar-4: 80%;
    --bg-option-21-bar-5: 20%; --bg-option-21-bar-6: 90%; --bg-option-21-bar-7: 40%; --bg-option-21-bar-8: 70%;
    --bg-option-21-bar-9: 90%; --bg-option-21-bar-10: 20%; --bg-option-21-bar-11: 70%; --bg-option-21-bar-12: 60%;
  }

  75% {
    --bg-option-21-bar-1: 80%; --bg-option-21-bar-2: 20%; --bg-option-21-bar-3: 70%; --bg-option-21-bar-4: 50%;
    --bg-option-21-bar-5: 90%; --bg-option-21-bar-6: 30%; --bg-option-21-bar-7: 20%; --bg-option-21-bar-8: 90%;
    --bg-option-21-bar-9: 60%; --bg-option-21-bar-10: 40%; --bg-option-21-bar-11: 20%; --bg-option-21-bar-12: 80%;
  }

  90% {
    --bg-option-21-bar-1: 60%; --bg-option-21-bar-2: 40%; --bg-option-21-bar-3: 50%; --bg-option-21-bar-4: 60%;
    --bg-option-21-bar-5: 40%; --bg-option-21-bar-6: 60%; --bg-option-21-bar-7: 80%; --bg-option-21-bar-8: 40%;
    --bg-option-21-bar-9: 70%; --bg-option-21-bar-10: 50%; --bg-option-21-bar-11: 60%; --bg-option-21-bar-12: 30%;
  }

  100% {
    --bg-option-21-bar-1: 40%; --bg-option-21-bar-2: 70%; --bg-option-21-bar-3: 50%; --bg-option-21-bar-4: 90%;
    --bg-option-21-bar-5: 30%; --bg-option-21-bar-6: 80%; --bg-option-21-bar-7: 60%; --bg-option-21-bar-8: 50%;
    --bg-option-21-bar-9: 70%; --bg-option-21-bar-10: 30%; --bg-option-21-bar-11: 90%; --bg-option-21-bar-12: 40%;
  }
}

@keyframes bg-option-20-animation {
  0% { background-position: 0 0, 0 0; }
  100% { background-position: 30px 60px, -20px 40px; }
}

@keyframes bg-option-24-animation {
  0% {
    --height-1: 20%;
    --height-2: 50%;
    --height-3: 90%;
    --height-4: 40%;
    --height-5: 60%;
  }
  25% {
    --height-1: 80%;
    --height-2: 30%;
    --height-3: 60%;
    --height-4: 100%;
    --height-5: 20%;
  }
  50% {
    --height-1: 40%;
    --height-2: 90%;
    --height-3: 20%;
    --height-4: 60%;
    --height-5: 30%;
  }
  75% {
    --height-1: 100%;
    --height-2: 70%;
    --height-3: 40%;
    --height-4: 30%;
    --height-5: 90%;
  }
  100% {
    --height-1: 20%;
    --height-2: 50%;
    --height-3: 90%;
    --height-4: 40%;
    --height-5: 60%;
  }
}

@keyframes bg-option-23-animation {
  0% {
    background-position:
      0 0,
      0 0;
  }
  100% {
    background-position:
      100px 100px,
      -100px -100px;
  }
}

@keyframes gradient-shift {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@keyframes image-shift {
  0% {
    transform: translateY(-50%);
  }

  25% {
    transform: translateY(-75%);
  }

  50% {
    transform: translateY(-50%);
  }

  75% {
    transform: translateY(-25%);
  }

  100% {
    transform: translateY(-50%);
  }
}

:root {
  --clr-lastfm: #f71414;
}

[data-element="rymstats-track-artist-link"],
[data-element="rymstats-track-link"] {
  &:hover {
    text-decoration: underline;
  }
}

[data-element="rymstats-track-item"] {
  padding-top: 0;
  left: -9999px;
  right: -9999px;
  position: relative;
  align-items: center;
  opacity: 0;
  transform: translateX(-20px);
  transition: all .15s ease-in-out;
  transition-property: opacity, transform;

  &.is-loaded {
    left: auto;
    right: auto;
    opacity: 1;
    transform: translateX(0);
  }

  & + .loader {
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
    width: 45px;
    height: 45px;
    color: var(--clr-lastfm);
  }

  &.is-loaded + .loader {
    display: none;
  }

  [data-element="rymstats-track-artbox"] {
    max-width: none;

    a {
      position: relative;

      &:before {
        content: '';
        position: absolute;
        z-index: 1;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 33%;
        height: 33%;
        border-radius: 50%;
        margin: auto;
        background-color: color-mix(in lab, var(--clr-dark-accent), transparent 40%);
        outline: 2px solid color-mix(in lab, var(--clr-dark-accent), white 10%);
        outline-offset: -2px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
        opacity: 0;
        z-index: 100;
        transition: opacity .15s ease-in-out, transform .15s ease-in-out;
      }

      img {
        outline: 2px solid color-mix(in lab, var(--clr-dark-accent), transparent 50%);
        outline-offset: -2px;
      }
    }
  }

  [data-element="rymstats-track-infobox"] {
    padding: 0;
    overflow: visible;
  }

  [data-element="rymstats-track-item-date"] {
    color: var(--clr-accent);

    &:before {
      content: attr(data-label);
    }

    svg {
      display: none;
      width: 12px;
      height: 12px;
      opacity: 1;
      margin-left: 1rem;
    }
  }

  [data-element="rymstats-track-item-art"] {
    display: block;
    width: 145px;
    height: 145px;
    max-width: none;
  }

  [data-element="rymstats-track-rating"] {
    font-size: 0.8em;
    width: fit-content;
    margin-bottom: 1.5em;
    /* visibility: hidden; */

    display: flex;
    gap: 1px;
    align-items: center;

    &.no-rating {
      &:before {
        content: 'No rating found.';
      }

      .stars-filled {
        display: none;
      }
      .stars-empty {
        display: none;
      }
    }

    [data-element="rymstats-track-rating-stars"] {
      position: relative;
    }

    .stars-filled {
      position: absolute;
      overflow: hidden;
      white-space: nowrap;
      inset: 0;

      svg {
        color: color-mix(in lab, currentColor, transparent 50%);
        fill: var(--clr-dark-accent);
      }
    }

    .stars-empty {
      svg {
        color: color-mix(in lab, currentColor, transparent 50%);
        fill: transparent;
      }
    }

    svg {
      width: 2em;
      height: 2em;
    }
  }

  [data-element="rymstats-from-album"] {
    font-size: 0.8em;
    width: fit-content;
    margin-top: 1.5em;

    a {
      font-weight: bold;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  &.is-now-playing {
    [data-element="rymstats-track-item-date"] svg {
      display: inline;
    }

    [data-element="rymstats-track-artbox"] {
      border-radius: 50%;
      position: relative;

      a {
        mask-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100"><rect width="100%" height="100%" fill="white"/><circle cx="50" cy="50" r="9" fill="black"/></svg>');
        mask-repeat: no-repeat;
        mask-size: 100% 100%;
        mask-mode: luminance;

        img {
          animation: rotate 9s linear infinite;
          border-radius: 50%;
          outline: 4px solid color-mix(in lab, var(--clr-dark-accent), transparent 50%);
          outline-offset: -4px;
          border-width: 2px;
          border-style: solid;
        }

        &:after {
          content: '';
          border-radius: 50%;
          position: absolute;
          inset: 4px;
          background: conic-gradient(from 30deg,
              rgba(255, 255, 255, 0) 0deg,
              rgba(255, 255, 255, 0.1) calc(15deg - 7deg),
              rgba(255, 255, 255, 0.2) calc(15deg),
              rgba(255, 255, 255, 0.1) calc(15deg + 7deg),
              rgba(255, 255, 255, 0) 30deg,

              rgba(255, 255, 255, 0) calc(15deg + 180deg - 50deg),
              rgba(255, 255, 255, 0.05) calc(15deg + 180deg - 40deg),
              rgba(255, 255, 255, 0.1) calc(15deg + 180deg - 30deg),
              rgba(255, 255, 255, 0.125) calc(15deg + 180deg - 20deg),
              rgba(255, 255, 255, 0.15) calc(15deg + 180deg - 10deg),
              rgba(255, 255, 255, 0.175) calc(15deg + 180deg),
              rgba(255, 255, 255, 0.15) calc(15deg + 180deg + 10deg),
              rgba(255, 255, 255, 0.125) calc(15deg + 180deg + 20deg),
              rgba(255, 255, 255, 0.1) calc(15deg + 180deg + 30deg),
              rgba(255, 255, 255, 0.05) calc(15deg + 180deg + 40deg),
              rgba(255, 255, 255, 0) calc(15deg + 180deg + 50deg),

              transparent 360deg);
        }

        &:before {
          opacity: 1;
        }
      }
    }
  }
}

html[data-scheme="dark"] {
  [data-element="rymstats-track-item"] {
    [data-element="rymstats-track-artbox"] {
      box-shadow: 0 0 0.5em rgba(0, 0, 0, 0.75);
    }

    &.is-now-playing {
      [data-element="rymstats-track-artbox"] {
        a {
          img {
            border-color: color-mix(in lab, var(--clr-dark-accent), white 50%);
          }
        }
      }
    }
  }
}

html[data-scheme="light"] {
  [data-element="rymstats-track-item"] {
    [data-element="rymstats-track-artbox"] {
      box-shadow: 0 0 0.5em rgba(255, 255, 255, 0.75);
    }

    &.is-now-playing {
      [data-element="rymstats-track-artbox"] {
        a {
          img {
            border-color: color-mix(in lab, var(--clr-light-accent), black 50%);
          }
        }
      }
    }
  }
}

#profile_play_history_container {
  position: relative;
}

@property --track-panel-gradient-stripe-width {
  syntax: '<length>';
  inherits: false;
  initial-value: 40px;
}

@property --track-panel-gradient-angle {
  syntax: '<angle>';
  inherits: false;
  initial-value: 90deg;
}

@keyframes track-panel-rotate-gradient {
  0% {
    /* --track-panel-gradient-angle: -45deg; */
    --track-panel-gradient-stripe-width: 40px;
  }

  25% {
    /* --track-panel-gradient-angle: -30deg; */
    --track-panel-gradient-stripe-width: 20px;
  }

  50% {
    /* --track-panel-gradient-angle: -45deg; */
    --track-panel-gradient-stripe-width: 40px;
  }

  75% {
    /* --track-panel-gradient-angle: -60deg; */
    --track-panel-gradient-stripe-width: 60px;
  }

  100% {
    /* --track-panel-gradient-angle: -45deg; */
    --track-panel-gradient-stripe-width: 40px;
  }
}

[data-element="rymstats-track-panel"] {
  padding-right: 1rem;
  /* background-color: var(--bg-color); */
  color: color-contrast(var(--bg-color) vs #fff, #000);
  transition: background-color 0.3s ease-out, color 0.3s ease-out;
  position: relative;

  &:before {
    content: '';
    position: absolute;
    inset: 0;
    background-image: var(--bg-image);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    filter: blur(4px);
    opacity: 0.2;
  }

  &:after {
    content: '';
    position: absolute;
    inset: 0;
    z-index: 1;

    --track-panel-gradient-stripe-width: 40px;
    --track-panel-gradient-angle: -45deg;

    background-position: center center;
    opacity: 0.1;
  }

  &.bg-option-0:after {
    opacity: 0.2;
  }

  &.bg-option-1:after {
    background-image: repeating-linear-gradient(var(--track-panel-gradient-angle),
      var(--clr-palette-vibrant) 0px,
      var(--clr-palette-vibrant) calc(var(--track-panel-gradient-stripe-width) * 1),
      var(--clr-palette-darkvibrant) calc(var(--track-panel-gradient-stripe-width) * 1),
      var(--clr-palette-darkvibrant) calc(var(--track-panel-gradient-stripe-width) * 2),
      var(--clr-palette-lightvibrant) calc(var(--track-panel-gradient-stripe-width) * 2),
      var(--clr-palette-lightvibrant) calc(var(--track-panel-gradient-stripe-width) * 3),
      var(--clr-palette-muted) calc(var(--track-panel-gradient-stripe-width) * 3),
      var(--clr-palette-muted) calc(var(--track-panel-gradient-stripe-width) * 4),
      var(--clr-palette-darkmuted) calc(var(--track-panel-gradient-stripe-width) * 4),
      var(--clr-palette-darkmuted) calc(var(--track-panel-gradient-stripe-width) * 5),
      var(--clr-palette-lightmuted) calc(var(--track-panel-gradient-stripe-width) * 5),
      var(--clr-palette-lightmuted) calc(var(--track-panel-gradient-stripe-width) * 6));
  }
  &.bg-option-2:after {
    background-image:
    repeating-linear-gradient(
      to right,
      var(--clr-palette-vibrant) 0,
      var(--clr-palette-vibrant) calc(var(--track-panel-gradient-stripe-width) * 1),
      var(--clr-palette-muted) calc(var(--track-panel-gradient-stripe-width) * 1),
      var(--clr-palette-muted) calc(var(--track-panel-gradient-stripe-width) * 2),
      var(--clr-palette-darkvibrant) calc(var(--track-panel-gradient-stripe-width) * 2),
      var(--clr-palette-darkvibrant) calc(var(--track-panel-gradient-stripe-width) * 3)
    ),
    repeating-linear-gradient(
      to bottom,
      var(--clr-palette-lightmuted) 0,
      var(--clr-palette-lightmuted) calc(var(--track-panel-gradient-stripe-width) * 1),
      var(--clr-palette-lightvibrant) calc(var(--track-panel-gradient-stripe-width) * 1),
      var(--clr-palette-lightvibrant) calc(var(--track-panel-gradient-stripe-width) * 2),
      var(--clr-palette-darkmuted) calc(var(--track-panel-gradient-stripe-width) * 2),
      var(--clr-palette-darkmuted) calc(var(--track-panel-gradient-stripe-width) * 3)
    );
    background-blend-mode: multiply;
  }
  &.bg-option-3:after {
    background-image: repeating-radial-gradient(
      circle,
      var(--clr-palette-vibrant) 0,
      var(--clr-palette-vibrant) calc(var(--track-panel-gradient-stripe-width) * 1),
      var(--clr-palette-darkvibrant) calc(var(--track-panel-gradient-stripe-width) * 1),
      var(--clr-palette-darkvibrant) calc(var(--track-panel-gradient-stripe-width) * 2),
      var(--clr-palette-lightvibrant) calc(var(--track-panel-gradient-stripe-width) * 2),
      var(--clr-palette-lightvibrant) calc(var(--track-panel-gradient-stripe-width) * 3),
      var(--clr-palette-muted) calc(var(--track-panel-gradient-stripe-width) * 3),
      var(--clr-palette-muted) calc(var(--track-panel-gradient-stripe-width) * 4),
      var(--clr-palette-darkmuted) calc(var(--track-panel-gradient-stripe-width) * 4),
      var(--clr-palette-darkmuted) calc(var(--track-panel-gradient-stripe-width) * 5),
      var(--clr-palette-lightmuted) calc(var(--track-panel-gradient-stripe-width) * 5),
      var(--clr-palette-lightmuted) calc(var(--track-panel-gradient-stripe-width) * 6)
    );
  }
  &.bg-option-4:after {
    background-image:
      repeating-linear-gradient(
        var(--track-panel-gradient-angle),
        var(--clr-palette-muted) 0,
        var(--clr-palette-muted) calc(var(--track-panel-gradient-stripe-width) * 1),
        var(--clr-palette-lightvibrant) calc(var(--track-panel-gradient-stripe-width) * 1),
        var(--clr-palette-lightvibrant) calc(var(--track-panel-gradient-stripe-width) * 2)
      ),
      repeating-linear-gradient(
        calc(var(--track-panel-gradient-angle) + 90deg),
        var(--clr-palette-darkvibrant) 0,
        var(--clr-palette-darkvibrant) calc(var(--track-panel-gradient-stripe-width) * 1),
        var(--clr-palette-lightmuted) calc(var(--track-panel-gradient-stripe-width) * 1),
        var(--clr-palette-lightmuted) calc(var(--track-panel-gradient-stripe-width) * 2)
      );
    background-blend-mode: soft-light;
  }
  &.bg-option-5:after {
    background-image:
    repeating-linear-gradient(
      45deg,
      var(--clr-palette-lightmuted) 0,
      var(--clr-palette-lightmuted) calc(var(--track-panel-gradient-stripe-width) * 1),
      transparent calc(var(--track-panel-gradient-stripe-width) * 1),
      transparent calc(var(--track-panel-gradient-stripe-width) * 2)
    ),
    repeating-linear-gradient(
      -45deg,
      var(--clr-palette-darkmuted) 0,
      var(--clr-palette-darkmuted) calc(var(--track-panel-gradient-stripe-width) * 1),
      transparent calc(var(--track-panel-gradient-stripe-width) * 1),
      transparent calc(var(--track-panel-gradient-stripe-width) * 2)
    );
    background-blend-mode: screen;
  }
  &.bg-option-6:after {
    background-image:
    repeating-conic-gradient(
      from 0deg,
      var(--clr-palette-vibrant) 0deg 30deg,
      var(--clr-palette-muted) 30deg 60deg,
      var(--clr-palette-lightvibrant) 60deg 90deg,
      var(--clr-palette-darkvibrant) 90deg 120deg,
      var(--clr-palette-lightmuted) 120deg 150deg,
      var(--clr-palette-darkmuted) 150deg 180deg
    ),
    repeating-linear-gradient(
      to bottom,
      var(--clr-palette-darkmuted) 0,
      var(--clr-palette-darkmuted) 1px,
      transparent 1px,
      transparent 3px
    );
    background-blend-mode: difference;
    background-position: center, 0 2px;
  }
  &.bg-option-7:after {
    background-image:
    repeating-linear-gradient(
      to bottom,
      var(--clr-palette-darkmuted) 0px,
      var(--clr-palette-darkmuted) 1px,
      transparent 1px,
      transparent 2px
    ),
    repeating-linear-gradient(
      to right,
      var(--clr-palette-vibrant) 0,
      var(--clr-palette-vibrant) 4px,
      var(--clr-palette-lightvibrant) 4px,
      var(--clr-palette-lightvibrant) 8px
    );
    background-blend-mode: overlay;
    filter: contrast(200%) brightness(80%);
  }
  &.bg-option-8:after {
    background-image: repeating-conic-gradient(
      from 0deg at 50% 50%,
      var(--clr-palette-vibrant) 0deg 10deg,
      var(--clr-palette-darkvibrant) 10deg 20deg,
      var(--clr-palette-muted) 20deg 30deg,
      var(--clr-palette-lightmuted) 30deg 40deg,
      var(--clr-palette-darkmuted) 40deg 50deg,
      var(--clr-palette-lightvibrant) 50deg 60deg
    );
    transform: scale(2) rotate(1deg);
    mix-blend-mode: exclusion;
    filter: blur(0.3px) contrast(200%);
  }
  &.bg-option-9:after {
    background-image:
      repeating-linear-gradient(
        90deg,
        var(--clr-palette-vibrant) 0px,
        var(--clr-palette-vibrant) 3px,
        var(--clr-palette-darkmuted) 3px,
        var(--clr-palette-darkmuted) 6px
      ),
      repeating-linear-gradient(
        91deg,
        var(--clr-palette-lightvibrant) 0px,
        var(--clr-palette-lightvibrant) 3px,
        transparent 3px,
        transparent 6px
      ),
      repeating-linear-gradient(
        89deg,
        var(--clr-palette-muted) 0px,
        var(--clr-palette-muted) 1px,
        transparent 1px,
        transparent 4px
      );
    background-blend-mode: difference;
    filter: hue-rotate(90deg) brightness(120%);
  }
  &.bg-option-10:after {
    background-image:
      repeating-linear-gradient(
        to right,
        var(--clr-palette-muted) 0,
        var(--clr-palette-muted) 10px,
        var(--clr-palette-darkmuted) 10px,
        var(--clr-palette-darkmuted) 20px
      ),
      repeating-linear-gradient(
        to bottom,
        var(--clr-palette-vibrant) 0,
        var(--clr-palette-vibrant) 10px,
        var(--clr-palette-lightvibrant) 10px,
        var(--clr-palette-lightvibrant) 20px
      );
    background-blend-mode: multiply;
  }
  &.bg-option-11:after {
    background-image:
      repeating-linear-gradient(
        45deg,
        var(--clr-palette-darkvibrant) 0,
        var(--clr-palette-darkvibrant) 5px,
        transparent 5px,
        transparent 10px
      ),
      repeating-linear-gradient(
        -45deg,
        var(--clr-palette-lightmuted) 0,
        var(--clr-palette-lightmuted) 5px,
        transparent 5px,
        transparent 10px
      ),
      repeating-linear-gradient(
        90deg,
        var(--clr-palette-muted) 0,
        var(--clr-palette-muted) 2px,
        transparent 2px,
        transparent 6px
      );
    background-blend-mode: hard-light;
  }
  &.bg-option-12:after {
    --track-panel-gradient-stripe-width: 120px;
    --track-panel-gradient-angle: -45deg;

    background-image: repeating-linear-gradient(var(--track-panel-gradient-angle),
      var(--clr-palette-vibrant) 0px,
      var(--clr-palette-vibrant) calc(var(--track-panel-gradient-stripe-width) * 1),
      var(--clr-palette-darkvibrant) calc(var(--track-panel-gradient-stripe-width) * 1),
      var(--clr-palette-darkvibrant) calc(var(--track-panel-gradient-stripe-width) * 2),
      var(--clr-palette-lightvibrant) calc(var(--track-panel-gradient-stripe-width) * 2),
      var(--clr-palette-lightvibrant) calc(var(--track-panel-gradient-stripe-width) * 3),
      var(--clr-palette-muted) calc(var(--track-panel-gradient-stripe-width) * 3),
      var(--clr-palette-muted) calc(var(--track-panel-gradient-stripe-width) * 4),
      var(--clr-palette-darkmuted) calc(var(--track-panel-gradient-stripe-width) * 4),
      var(--clr-palette-darkmuted) calc(var(--track-panel-gradient-stripe-width) * 5),
      var(--clr-palette-lightmuted) calc(var(--track-panel-gradient-stripe-width) * 5),
      var(--clr-palette-lightmuted) calc(var(--track-panel-gradient-stripe-width) * 6));
  }
  &.bg-option-13:after {
    --track-panel-gradient-stripe-width: 5px;
    --track-panel-gradient-angle: 15deg;

    background-image: repeating-linear-gradient(var(--track-panel-gradient-angle),
      var(--clr-palette-vibrant) 0px,
      var(--clr-palette-vibrant) calc(var(--track-panel-gradient-stripe-width) * 1),
      var(--clr-palette-darkvibrant) calc(var(--track-panel-gradient-stripe-width) * 1),
      var(--clr-palette-darkvibrant) calc(var(--track-panel-gradient-stripe-width) * 2),
      var(--clr-palette-lightvibrant) calc(var(--track-panel-gradient-stripe-width) * 2),
      var(--clr-palette-lightvibrant) calc(var(--track-panel-gradient-stripe-width) * 3),
      var(--clr-palette-muted) calc(var(--track-panel-gradient-stripe-width) * 3),
      var(--clr-palette-muted) calc(var(--track-panel-gradient-stripe-width) * 4),
      var(--clr-palette-darkmuted) calc(var(--track-panel-gradient-stripe-width) * 4),
      var(--clr-palette-darkmuted) calc(var(--track-panel-gradient-stripe-width) * 5),
      var(--clr-palette-lightmuted) calc(var(--track-panel-gradient-stripe-width) * 5),
      var(--clr-palette-lightmuted) calc(var(--track-panel-gradient-stripe-width) * 6));
  }
  &.bg-option-14:after {
    --track-panel-gradient-stripe-width: 15px;
    --track-panel-gradient-angle: 90deg;

    background-image: repeating-linear-gradient(var(--track-panel-gradient-angle),
      var(--clr-palette-vibrant) 0px,
      var(--clr-palette-vibrant) calc(var(--track-panel-gradient-stripe-width) * 1),
      var(--clr-palette-darkvibrant) calc(var(--track-panel-gradient-stripe-width) * 1),
      var(--clr-palette-darkvibrant) calc(var(--track-panel-gradient-stripe-width) * 2),
      var(--clr-palette-lightvibrant) calc(var(--track-panel-gradient-stripe-width) * 2),
      var(--clr-palette-lightvibrant) calc(var(--track-panel-gradient-stripe-width) * 3),
      var(--clr-palette-muted) calc(var(--track-panel-gradient-stripe-width) * 3),
      var(--clr-palette-muted) calc(var(--track-panel-gradient-stripe-width) * 4),
      var(--clr-palette-darkmuted) calc(var(--track-panel-gradient-stripe-width) * 4),
      var(--clr-palette-darkmuted) calc(var(--track-panel-gradient-stripe-width) * 5),
      var(--clr-palette-lightmuted) calc(var(--track-panel-gradient-stripe-width) * 5),
      var(--clr-palette-lightmuted) calc(var(--track-panel-gradient-stripe-width) * 6));
  }
  &.bg-option-15:after {
    background-image:
      repeating-linear-gradient(
        135deg,
        var(--clr-palette-vibrant) 0,
        var(--clr-palette-vibrant) 10px,
        var(--clr-palette-darkvibrant) 10px,
        var(--clr-palette-darkvibrant) 20px
      ),
      repeating-linear-gradient(
        225deg,
        var(--clr-palette-lightvibrant) 0,
        var(--clr-palette-lightvibrant) 10px,
        transparent 10px,
        transparent 20px
      );
    background-blend-mode: difference;
  }
  &.bg-option-16:after {
    background-image:
      repeating-linear-gradient(
        to right,
        var(--clr-palette-muted) 0,
        var(--clr-palette-muted) 20px,
        var(--clr-palette-lightmuted) 20px,
        var(--clr-palette-lightmuted) 40px
      ),
      repeating-linear-gradient(
        to bottom,
        var(--clr-palette-darkvibrant) 0,
        var(--clr-palette-darkvibrant) 20px,
        var(--clr-palette-lightvibrant) 20px,
        var(--clr-palette-lightvibrant) 40px
      );
    background-blend-mode: difference;
  }
  &.bg-option-17:after {
    background-image:
      repeating-linear-gradient(
        to right,
        var(--clr-palette-vibrant) 0,
        var(--clr-palette-vibrant) 30px,
        transparent 30px,
        transparent 60px
      ),
      repeating-linear-gradient(
        to bottom,
        var(--clr-palette-muted) 0,
        var(--clr-palette-muted) 10px,
        var(--clr-palette-lightmuted) 10px,
        var(--clr-palette-lightmuted) 20px
      );
    background-blend-mode: overlay;
    background-size: 100% 40px;
    background-position: 0 20px;
  }
  &.bg-option-18:after {
    background-image:
      repeating-linear-gradient(
        0deg,
        var(--clr-palette-muted) 0px,
        var(--clr-palette-muted) 5px,
        var(--clr-palette-darkmuted) 5px,
        var(--clr-palette-darkmuted) 10px
      ),
      repeating-linear-gradient(
        90deg,
        var(--clr-palette-lightvibrant) 0px,
        var(--clr-palette-lightvibrant) 5px,
        var(--clr-palette-darkvibrant) 5px,
        var(--clr-palette-darkvibrant) 10px
      );
    background-size: 100% 100%, 100% 100%;
    /* background-blend-mode: difference; */
    animation: bg-option-23-animation 0.2s infinite steps(1);
  }
  &.bg-option-19:after {
    --stripe-width: 8px;
    --stripe-gap: 4px;
    --height-1: 20%;
    --height-2: 40%;
    --height-3: 60%;
    --height-4: 80%;
    --height-5: 100%;

    background-image:
      linear-gradient(to top,
        var(--clr-palette-vibrant) 0%,
        var(--clr-palette-vibrant) var(--height-1),
        transparent var(--height-1),
        transparent 100%
      ),
      linear-gradient(to top,
        var(--clr-palette-darkvibrant) 0%,
        var(--clr-palette-darkvibrant) var(--height-2),
        transparent var(--height-2),
        transparent 100%
      ),
      linear-gradient(to top,
        var(--clr-palette-lightvibrant) 0%,
        var(--clr-palette-lightvibrant) var(--height-3),
        transparent var(--height-3),
        transparent 100%
      ),
      linear-gradient(to top,
        var(--clr-palette-muted) 0%,
        var(--clr-palette-muted) var(--height-4),
        transparent var(--height-4),
        transparent 100%
      ),
      linear-gradient(to top,
        var(--clr-palette-lightmuted) 0%,
        var(--clr-palette-lightmuted) var(--height-5),
        transparent var(--height-5),
        transparent 100%
      );

    background-size:
      var(--stripe-width) 100%,
      var(--stripe-width) 100%,
      var(--stripe-width) 100%,
      var(--stripe-width) 100%,
      var(--stripe-width) 100%;

    background-position:
      0 0,
      calc(var(--stripe-width) + var(--stripe-gap)) 0,
      calc((var(--stripe-width) + var(--stripe-gap)) * 2) 0,
      calc((var(--stripe-width) + var(--stripe-gap)) * 3) 0,
      calc((var(--stripe-width) + var(--stripe-gap)) * 4) 0;

    background-repeat: no-repeat;
    animation: bg-option-24-animation 1s infinite steps(1);
  }
  &.bg-option-20:after {
    background-image:
      repeating-linear-gradient(
        60deg,
        var(--clr-palette-darkvibrant) 0,
        var(--clr-palette-darkvibrant) 3px,
        transparent 3px,
        transparent 6px
      ),
      repeating-linear-gradient(
        120deg,
        var(--clr-palette-lightvibrant) 0,
        var(--clr-palette-lightvibrant) 2px,
        transparent 2px,
        transparent 5px
      );
    background-blend-mode: overlay;
    animation: bg-option-20-animation 2s infinite linear alternate;
    opacity: 0.2;
  }
  &.bg-option-21:after,
  &.bg-option-22:after {
    --n: 12;
    --bar-width: calc((100% / var(--n)) - 2%);

    --clr-1: var(--clr-palette-lightvibrant);
    --clr-3: var(--clr-palette-vibrant);
    --clr-5: var(--clr-palette-darkvibrant);
    --clr-7: var(--clr-palette-lightmuted);
    --clr-9: var(--clr-palette-muted);
    --clr-11: var(--clr-palette-darkmuted);
    --clr-2: color-mix(in lch, var(--clr-1) 50%, var(--clr-3));
    --clr-4: color-mix(in lch, var(--clr-3) 50%, var(--clr-5));
    --clr-6: color-mix(in lch, var(--clr-5) 50%, var(--clr-7));
    --clr-8: color-mix(in lch, var(--clr-7) 50%, var(--clr-9));
    --clr-10: color-mix(in lch, var(--clr-9) 50%, var(--clr-11));
    --clr-12: color-mix(in lch, var(--clr-11) 20%, var(--clr-1));

    --bar-1-x: calc((0 * 100%) / (var(--n) - 1));
    --bar-2-x: calc((1 * 100%) / (var(--n) - 1));
    --bar-3-x: calc((2 * 100%) / (var(--n) - 1));
    --bar-4-x: calc((3 * 100%) / (var(--n) - 1));
    --bar-5-x: calc((4 * 100%) / (var(--n) - 1));
    --bar-6-x: calc((5 * 100%) / (var(--n) - 1));
    --bar-7-x: calc((6 * 100%) / (var(--n) - 1));
    --bar-8-x: calc((7 * 100%) / (var(--n) - 1));
    --bar-9-x: calc((8 * 100%) / (var(--n) - 1));
    --bar-10-x: calc((9 * 100%) / (var(--n) - 1));
    --bar-11-x: calc((10 * 100%) / (var(--n) - 1));
    --bar-12-x: calc((11 * 100%) / (var(--n) - 1));

    background:
      linear-gradient(to top, var(--clr-1) var(--bg-option-21-bar-1), transparent var(--bg-option-21-bar-1))
        var(--bar-1-x) 0 / var(--bar-width) 100% no-repeat,

      linear-gradient(to top, var(--clr-2) var(--bg-option-21-bar-2), transparent var(--bg-option-21-bar-2))
        var(--bar-2-x) 0 / var(--bar-width) 100% no-repeat,

      linear-gradient(to top, var(--clr-3) var(--bg-option-21-bar-3), transparent var(--bg-option-21-bar-3))
        var(--bar-3-x) 0 / var(--bar-width) 100% no-repeat,

      linear-gradient(to top, var(--clr-4) var(--bg-option-21-bar-4), transparent var(--bg-option-21-bar-4))
        var(--bar-4-x) 0 / var(--bar-width) 100% no-repeat,

      linear-gradient(to top, var(--clr-5) var(--bg-option-21-bar-5), transparent var(--bg-option-21-bar-5))
        var(--bar-5-x) 0 / var(--bar-width) 100% no-repeat,

      linear-gradient(to top, var(--clr-6) var(--bg-option-21-bar-6), transparent var(--bg-option-21-bar-6))
        var(--bar-6-x) 0 / var(--bar-width) 100% no-repeat,

      linear-gradient(to top, var(--clr-7) var(--bg-option-21-bar-7), transparent var(--bg-option-21-bar-7))
        var(--bar-7-x) 0 / var(--bar-width) 100% no-repeat,

      linear-gradient(to top, var(--clr-8) var(--bg-option-21-bar-8), transparent var(--bg-option-21-bar-8))
        var(--bar-8-x) 0 / var(--bar-width) 100% no-repeat,

      linear-gradient(to top, var(--clr-9) var(--bg-option-21-bar-9), transparent var(--bg-option-21-bar-9))
        var(--bar-9-x) 0 / var(--bar-width) 100% no-repeat,

      linear-gradient(to top, var(--clr-10) var(--bg-option-21-bar-10), transparent var(--bg-option-21-bar-10))
        var(--bar-10-x) 0 / var(--bar-width) 100% no-repeat,

      linear-gradient(to top, var(--clr-11) var(--bg-option-21-bar-11), transparent var(--bg-option-21-bar-11))
        var(--bar-11-x) 0 / var(--bar-width) 100% no-repeat,

      linear-gradient(to top, var(--clr-12) var(--bg-option-21-bar-12), transparent var(--bg-option-21-bar-12))
        var(--bar-12-x) 0 / var(--bar-width) 100% no-repeat;

    opacity: 0.2;

    --bg-option-21-bar-1: 0%;
    --bg-option-21-bar-2: 10%;
    --bg-option-21-bar-3: 20%;
    --bg-option-21-bar-4: 30%;
    --bg-option-21-bar-5: 40%;
    --bg-option-21-bar-6: 50%;
    --bg-option-21-bar-7: 55%;
    --bg-option-21-bar-8: 40%;
    --bg-option-21-bar-9: 30%;
    --bg-option-21-bar-10: 20%;
    --bg-option-21-bar-11: 10%;
    --bg-option-21-bar-12: 0%;
  }
  &.bg-option-22:after {
    width: 20%;
    height: 50%;
    left: 50%;
    transform: translateX(-50%) scaleY(-1);
    bottom: auto;
    opacity: 0.4;

    --n: 6;

    --bar-width: calc((100% / var(--n)) - 4%);

    /* --clr-1: color-mix(in lch, var(--clr-palette-vibrant) 50%, var(--clr-palette-lightvibrant) 50%);
    --clr-2: color-mix(in lch, var(--clr-palette-lightvibrant) 50%, var(--clr-palette-darkvibrant) 50%);
    --clr-3: color-mix(in lch, var(--clr-palette-darkvibrant) 50%, var(--clr-palette-muted) 50%);
    --clr-4: color-mix(in lch, var(--clr-palette-muted) 50%, var(--clr-palette-lightmuted) 50%);
    --clr-5: color-mix(in lch, var(--clr-palette-lightmuted) 50%, var(--clr-palette-darkmuted) 50%);
    --clr-6: color-mix(in lch, var(--clr-palette-darkmuted) 50%, var(--clr-palette-vibrant) 50%); */

    --clr-1: var(--clr-light-accent);
    --clr-3: var(--clr-dark-accent);
    --clr-5: var(--clr-light-accent);
    --clr-7: var(--clr-dark-accent);
    --clr-9: var(--clr-light-accent);
    --clr-11: var(--clr-dark-accent);
  }
  &.is-now-playing.bg-option-21:after,
  &.is-now-playing.bg-option-22:after {
    animation: bg-option-21-animation 1.5s linear infinite;
  }

  & > * {
    position: relative;
    z-index: 2;
  }

  a {
    color: inherit;
  }

  &.is-now-playing {
    border-radius: 9999px 0 0 9999px;
  }
}

html[data-scheme="light"] {
  [data-element="rymstats-track-panel"] {
    /* --bg-color: var(--clr-light-bg); */
    border-color: var(--clr-light-accent);
  }
}

html[data-scheme="dark"] {
  [data-element="rymstats-track-panel"] {
    /* --bg-color: var(--clr-dark-bg); */
    border-color: var(--clr-dark-accent);
  }
}

.profile_view_play_history_btn {
  gap: 1rem;
  min-height: 45px;
  align-items: center;
  flex: 1 0 auto;
}

.btn.btn-lastfm,
.btn.btn-profile {
  --bg-color: var(--clr-lastfm);
  --bg-color-hover: color-mix(in lab, var(--bg-color) 90%, white);
  --bg-color-active: color-mix(in lab, var(--bg-color) 80%, black);
  --color: #fff;
  background-color: var(--bg-color) !important;
  color: var(--color) !important;
  margin-right: 0;
  transition: background-color 0.3s ease-out, color 0.3s ease-out;
  border: 2px solid color-mix(in lab, var(--bg-color) 80%, white);

  &:hover {
    background-color: var(--bg-color-hover) !important;
  }

  &:active {
    background-color: var(--bg-color-active) !important;
    position: relative;
    top: 2px;
  }

  display: flex;
  width: fit-content;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  min-height: 41.15px;
  padding-block: 0 !important;

  svg {
    order: -1;
    width: 1.75em;
    height: 1.75em;
  }
}

html[data-scheme="light"] {
  .btn.btn-lastfm,
  .btn.btn-profile {
    --bg-color: var(--clr-light-accent);
    --color: var(--clr-light-accent-contrast);
    /* --bg-color: #000; */
    /* text-shadow: 0 0 2px rgba(0, 0, 0, 0.5); */
  }
}

html[data-scheme="dark"] {
  .btn.btn-lastfm,
  .btn.btn-profile {
    --bg-color: var(--clr-dark-accent);
    --color: var(--clr-dark-accent-contrast);
    /* --bg-color: #fff; */
    /* text-shadow: 0 0 2px rgba(255, 255, 255, 0.5); */
  }
}

.lastfm-tracks-wrapper {
  display: block;
  position: absolute;
  left: -9999px;
  right: 9999px;
  transition: all .15s ease-out;
  opacity: 0;
  transform: translateY(-10px);
  margin-top: 0;
  padding-bottom: 30px;

  &::before,
  &::after {
    position: absolute;
    opacity: 0.75;
    bottom: 0;
    height: 30px;
    padding: 0 15px;
    font-size: 0.75em;
    line-height: 29px;
  }

  &:before {
    content: attr(data-timestamp);
    right: 0;
  }

  &:after {
    content: 'Powered by RYM Last.fm Stats';
    left: 0;
  }

  &.is-active {
    opacity: 1;
    transform: translateY(0);
    position: relative;
    left: auto;
    right: auto;
  }

  ul {
    display: table;
    width: 100%;
  }

  li {
    display: table-row;

    & + li {
      border-top: 1px solid;
    }

    & > * {
      display: table-cell;
      vertical-align: middle;
      padding: 9px;

      &:first-child {
        padding-left: 15px;
      }

      &:last-child {
        padding-right: 15px;
        white-space: nowrap;
      }
    }
  }

  .track-image {
    a {
      display: block;
      position: relative;
      width: 34px;
      height: 34px;

      &:empty::after {
        content: '?';
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }

    img {
      display: block;
      width: 100%;
      height: 100%;
    }
  }

  .track-title {
    font-weight: bold;
    width: 60%;
  }

  .track-artist {
    width: 40%;
    font-weight: bold;
  }

  .track-date {
    text-align: right;

    svg {
      margin-right: 0.5em;
      width: 12px;
      height: 12px;
    }
  }

  .track-image a {
    background: var(--color);
  }

  li {
    & + li {
      border-color: var(--color);
    }

    &.is-now-playing {
      background: var(--color);
    }
  }
}

html[data-scheme="light"] {
  .lastfm-tracks-wrapper {
    --color: rgba(0, 0, 0, 0.1);
  }
}

html[data-scheme="dark"] {
  .lastfm-tracks-wrapper {
    --color: rgba(255, 255, 255, 0.1);
  }
}

.btn-lastfm-lock {
  display: inline-block;
  border: none;
  background: none;
  appearance: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
  color: currentColor;
  opacity: 0.75;
  padding: 10px;
  border-radius: 50%;
  transition: background-color 0.3s ease-out, color 0.3s ease-out;

  &:active {
    background-color: rgba(0, 0, 0, 0.2);
  }

  svg {
    width: 16px;
    height: 16px;

    &:first-child {
      display: block;
    }

    &:last-child {
      display: none;
    }
  }

  &.is-locked {
    svg {
      &:first-child {
        display: none;
      }

      &:last-child {
        display: block;
      }
    }
  }
}

.btn-bg-switcher {
  position: absolute;
  top: 0;
  right: 0;
  padding: 3px;
  width: 30px;
  height: 30px;
  background: none;
  border: none;
  cursor: pointer;
  color: currentColor;
  opacity: 0;
  transition: opacity 0.3s ease-out;

  &:hover {
    opacity: 1 !important;
  }

  svg {
    fill: currentColor;
    display: block;
    width: 100%;
    height: 100%;
  }
}

[data-element="rymstats-track-panel"]:hover {
  .btn-bg-switcher {
    opacity: .3;
  }
}
