.list-stats {
  list-style: none;
  display: flex;
  align-items: center;

  & > li {
    display: flex;
    align-items: center;

    &.is-user-playcount {
      font-weight: bold;
    }

    & + li {
      &:before {
        content: '|';
        margin-inline: 1rem;
      }
    }
  }

  .lastfm-link {
    width: 20px;
    height: 20px;

    img {
      width: 100%;
      height: 100%;
      display: block;
    }
  }
}

.lastfm-stats-cell {
  position: relative;
  display: flex;
  align-items: center;

  &:before {
    content: 'Loading...';
    display: none;
  }

  &:after {
    content: '';
    background: #000;
    opacity: 0.1;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: none;
  }

  &.is-updating {
    opacity: 0.5;
    pointer-events: none;
  }

  &.is-loading {
    & > * {
      display: none;
    }
    &:before {
      display: block;
    }
  }
}

.incorrect-stats-wrapper {
  posrition: relative;
  margin-left: auto;
}

.incorrect-stats-popup {
  position: absolute;
  top: 100%;
  right: 9999px;
  opacity: 0;
  transition-duration: .15s;
  transition-timing-function: ease-in-out;
  transition-property: transform, opacity;
  transform: translateY(-10px);
  pointer-events: none;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.9);
  color: #fff;
  min-width: 250px;
  max-width: 400px;
  border-radius: 5px;
  overflow: hidden;

  &.is-active {
    right: 0;
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
  }

  .incorrect-stats-popup-title {
    font-size: inherit;
    font-weight: bold;
    text-align: center;
    padding: 1rem;
    margin: 0;
  }

  .incorrect-stats-popup-warning {
    text-align: center;
    padding: 1rem;
    margin: 0;
    color: #ff0000;
    cursor: default;
  }
}

.list-search-albums {
  display: flex;
  flex-direction: column;
  list-style: none;
  margin: 0;
  padding: 0;

  .list-search-albums-item {
    display: block;
    padding: 1rem;
    color: #fff;
    &:is(a) {
      text-decoration: none;
      &:hover {
        background-color: rgba(255, 255, 255, 0.1);
      }
    }
    &:not(a) {
      cursor: default;
      background-color: rgba(255, 255, 255, 0.2);
      &:before {
        content: '✅';
        margin-right: 0.5rem;
      }
    }
  }
}
