@property --angle-360 { syntax: '<angle>'; inherits: false; initial-value: 0deg; }

@property --shift-x { syntax: '<length>'; inherits: false; initial-value: 0px; }
@property --shift-y { syntax: '<length>'; inherits: false; initial-value: 0px; }

@property --bg-option-bar-1  { syntax: '<number>'; inherits: false; initial-value: 50; }
@property --bg-option-bar-2  { syntax: '<number>'; inherits: false; initial-value: 50; }
@property --bg-option-bar-3  { syntax: '<number>'; inherits: false; initial-value: 50; }
@property --bg-option-bar-4  { syntax: '<number>'; inherits: false; initial-value: 50; }
@property --bg-option-bar-5  { syntax: '<number>'; inherits: false; initial-value: 50; }
@property --bg-option-bar-6  { syntax: '<number>'; inherits: false; initial-value: 50; }
@property --bg-option-bar-7  { syntax: '<number>'; inherits: false; initial-value: 50; }
@property --bg-option-bar-8  { syntax: '<number>'; inherits: false; initial-value: 50; }
@property --bg-option-bar-9  { syntax: '<number>'; inherits: false; initial-value: 50; }
@property --bg-option-bar-10 { syntax: '<number>'; inherits: false; initial-value: 50; }
@property --bg-option-bar-11 { syntax: '<number>'; inherits: false; initial-value: 50; }
@property --bg-option-bar-12 { syntax: '<number>'; inherits: false; initial-value: 50; }

@property --track-panel-gradient-stripe-width {
  syntax: '<length>';
  inherits: false;
  initial-value: 40px;
}

@property --track-panel-gradient-angle {
  syntax: '<angle>';
  inherits: false;
  initial-value: 90deg;
}